@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Almarai", sans-serif;
  }
}

body {
  margin: 0;
}



@layer utilities {
  .toggle-btn {
    @apply [&>div::after]:translate-y-0 [&>div::after]:-rotate-45
    [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div]:rotate-[720deg] 
    [&>div]:bg-transparent;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 2rem));
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(calc(-100% - 2rem));
  }
  to {
    transform: translateX(0);
  }
}

div[modal-backdrop] {
  z-index: -1 !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  pointer-events: none;
}

.square-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  pointer-events: none;
}

.square {
  width: 100%;
  padding-top: 100%;
  /* background-color: #E4E4E4; */
  background-color: #ff8fad;
  opacity: 0;
}

.outline-title-yellow {
  color: black;
  -webkit-text-stroke: 1px #fbff43;
}

@screen md {
  .outline-title-yellow {
    color: black;
    -webkit-text-stroke: 2px #fbff43;
  }
}

@screen lg {
  .outline-title-yellow {
    color: black;
    -webkit-text-stroke: 5px #fbff43;
  }
}

.flip {
  writing-mode: vertical-lr;
  rotate: 180deg;
  padding: 0;
}

.outline-title-black {
  color: #e4e4e4;
  -webkit-text-stroke: 1px #000000;
}

@screen md {
  .outline-title-black {
    -webkit-text-stroke: 2px #000000;
  }
}

@screen lg {
  .outline-title-black {
    -webkit-text-stroke: 5px #000000;
  }
}

.underline-text {
  text-decoration: underline;
}

.outline-title-rosa {
  color: #black;
  -webkit-text-stroke: 1px #ff8fad;
}

@screen md {
  .outline-title-rosa {
    color: #black;
    -webkit-text-stroke: 2px #ff8fad;
  }
}

@screen lg {
  .outline-title-rosa {
    color: black;
    -webkit-text-stroke: 5px #ff8fad;
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.projectdiv:hover::before {
  content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 0;
      width: 0;
      z-index: 1;
      border-bottom: 3px solid #ff8fad;
      animation: grow 0.3s linear;
      animation-fill-mode: forwards;
}

@keyframes grow {
  100% {
    width: 100%;
  }
}
